<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Bienvenidxs a MercadoLiebre</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header>
        <div class="top-header">
            <div class="logo">
                <img src="/images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre">
            </div>
            <div class="form" action="#" method="GET">
                <div class="input">Buscar productos, marcas y más</div>
                <div class="submit"><i class="fa fa-search"></i></div>
            </div>
            <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        <nav>
            <ul class="nav-bar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="login-navbar">
                <li><a href="src\views\register.html">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </div>
    </header>
    <main class="register">
        <form action="/" method="POST" class="form">
            <input type="text" name="name" placeholder="Nombre y apellido" class="control-form">
            <input type="text" name="user" placeholder="Nombre de usuario" class="control-form">
            <input type="email" name="email" placeholder="E-mail" class="control-form">
            <br>
            <label for="birth_date"><b>Fecha de nacimiento</b></label>
            <br>
            <input type="date" name="birth_date" id="birth_date" class="control-form">
            <br>
            <input type="text" name="addres" placeholder="Domicilio" class="control-form">
            <h4>Perfil del usuario</h4>
            <div class="profile">
                <input type="radio" name="profile" value="buy" id="buy" >
                <label for="buy">Comprador</label>
                <input type="radio" name="profile" value="sell" id="sell">
                <label for="sell">Vendedor</label>
            </div>

            <h4>Intereses</h4>
            <div class="interests">
                <div>
                    <input type="checkbox" name="interests" value="a" id="a">
                    <label for="a">Electro</label>
                </div>
                <div>
                    <input type="checkbox" name="interests" value="b" id="b">
                    <label for="b">Moda</label>
                </div>
                <div>
                    <input type="checkbox" name="interests" value="c" id="c">
                    <label for="c">Hogar</label>
                </div>
                <div>
                    <input type="checkbox" name="interests" value="d" id="d">
                    <label for="d">Juguetería</label>
                </div>
                <div>
                    <input type="checkbox" name="interests" value="e" id="e">
                    <label for="e">Vida sana</label>
                </div>
            </div>

            <h4 class="user">Elegí tu foto de usuario</h4>
            <input type="file" name="avatar">
            <br>
            <br>
            <input type="password" name="pass" placeholder="Elegí tu contraseña" class="user">
            <input type="password" name="pass_confirm" placeholder="Confirmá tu contraseña" class="user">
            <br>
            <br>
            <div class="button">
            <input type="submit" value="Enviar">
            <input type="reset" value="Borrar">
        </div>
            <br>
            <br>
        </form>
    </main>
    <footer>
        <article class="foot-article">
        <div class="foot">
            <div class="foot-div">
                <i class="fa-solid fa-credit-card"></i>
                <h4 class="benefits">Paga con tarjeta de crédito</h4>
                <p class="description-benefits">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en 
                    puntos de pago. ¡Y siempre es seguro!</p>
            </div>

            <div class="foot-div">
                <i class="fa-solid fa-gift"></i>
                <h4 class="benefits">Envío gratis desde $ 2.500</h4>
                <p class="description-benefits">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles
                    de productos. Es un beneficio de Mercado Puntos.</p>
            </div>

            <div class="foot-div">
                <i class="fa-solid fa-user-shield"></i>
                <h4 class="benefits">Seguridad, de principio a fin</h4>
                <p class="description-benefits">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </div>
        </div>

        </article>

        <span class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</span>
    </footer>
</body>

</html>