main.login {
    display: block;
    width: 100%;
    padding: 10% 5%;
}

main.login form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

main.login form input {
    margin: 15px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
}

main.login form input.button-login {
    background-color: #1259c3;
    color: #ffff;
}

@media (min-width: 769px) {
    main.login form {
        width: 60%;
    }

    main.login form button {
        transition: color, background-color 300ms;
    }

    main.login form input.button-login:hover {
        background-color: #0022AA;
        color: #ffffff;
        cursor: pointer;
    }

}