main.register form.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
  }
  
  main.register form.form input.control-form,
  main.register form.form input.user {
    margin: 5px;
    padding: 8px;
    border-radius: 5px;
    border: none;
    outline: none;
  
  }
  
  main.register form.form h4,
  main.register form.form h4.user,
  main.register form.form label {
    margin: 5px;
    padding: 8px;
  }
  
  main.register form.form div {
    padding: 5px;
  }
  
  form.form div.button input {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    background-color: #0044aa;
    color: #ffff;
    width: 40%;
}