* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ebebeb;
}

main section h3 {
  margin: 20px 0px;
  font-size: 24px;
  line-height: 40px;
  padding-left: 1px;
  display: flex;
  flex-wrap: wrap;
}

p {
  font-size: 12px;
  line-height: 20px;
}

div.top-header {
  padding: 5%;
  display: flex;
  flex-wrap: wrap;
}

header {
  background-color: #eac926;
}

header div.logo,
header.form {
  width: 50%;
}

header div.logo {
  padding: 10px;
}

header div.form {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 2px;
  font-size: 11px;
}

header nav {
  margin-left: 20px;
  font-size: 12px;
}

header ul li {
  list-style-type: none;
  padding-right: 10px;
}

header ul li a {
  text-decoration: none;
  color: #000;
}

header div.form .input {
  background-color: #fff;
  border: 1px solid #000;
  color: #666;
  padding: 2px;
}

input.form {
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 8px;
}

header div.top-header div.form span.submit i {
  color: #666;
  border: none;
  cursor: pointer;
  font-size: 12px
}

header div.top-header p {
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

div.burger-menu {
  text-align: center;
}

div.burger-menu i {
  background-color: #0044aa;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  margin: auto;
  font-size: 20px;
  height: 40px;
  margin: 10px 0px 20px 0px;
  padding: 10px 10px;
  width: 40px;
}

article div.main-article {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  border-top: 1px solid #ebebeb;
  position: relative;
  padding-top: 20px;
}

.price {
  font-size: 18px;
  line-height: 26px;
  padding-bottom: 15px;
}

.discount {
  width: 70%;
}

.discount,
.description {
  font-size: 16px;
  font-weight: normal;
}

h3,
.description {
  color: #666;
}

section.banner img {
  width: 100%;
}

main {
  width: 90%;
  margin: auto;
}

main section article {
  background-color: #fff;
}

main section article img {
  width: 100%;
}

main section article i,
.discount {
  color: #39b54a;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  padding-left: 15px;
}

main section article i {
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid #39b54a;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: -15px;
}

.product-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  border-top: 1px solid #ebebeb;
  position: relative;
  padding: 15px;
  margin: 10px;
}

.benefits {
  text-align: center;
  color: #666;
}

.description-benefits {
  color: #666;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  padding-left: 40px;
  padding-right: 40px;
}

body footer{
  background-color: #ffff;
}

body footer article.foot-article div.foot div.foot-div i {
  color: #1259c3;
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  padding-top: 50px;
}

body footer article.foot-article div.foot div.foot-div {
  box-sizing: border-box;
  width: 88%;
  margin: auto;
  padding-top: 30px;
  padding-left: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #666
}

body footer span {
  display: block;
  font-size: 14px;;
  padding: 10px;
  padding-top: 20px;
  color: #666;
}


main.register,
main.login {
  display: block;
  width: 100%;
  padding: 10px 10px;
  padding-top: 15px;
}

@media (min-width: 361px) {
  main section article .description {
    display: block;
  }

  main section article {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }

  main section div.products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  main section div.products article {
    width: 100%;
  }

  .price,
  .discount {
    width: 50%;
    position: relative
  }

  body header nav ul.nav-bar {
    display: none;
  }

  body header nav ul.login-navbar {
    display: none;
  }

  body footer span{
    text-align:center;
  }
}



@media (min-width: 481px) {
  body header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  body header nav ul.nav-bar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 15px;
  }

  body header nav ul.login-navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 15px;
  }

  main section div.products article {
    width: 45%;
  }
}



@media (min-width: 769px) {
  body header nav {
    margin: 0px 40px;
    font-size: 16px;
  }
  main section div.products article {
    width: 22%;
  }

  body header div.burger-menu {
    display: none;
  }

  main section article .description {
    position: relative;
    opacity: 0;
    transition: opacity 300ms;
  }

  main section article:hover .description {
    opacity: 1;
  }

  main section div.products article {
    width: 22%;
    box-shadow: none;
  }

  main section div.products article {
    width: 20%;
    box-shadow: none;
    transition: box-shadow 300ms;
    cursor: pointer;
  }

  main section div.products article:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }

  main section div.products article .fa-truck {
    transition: transform 300ms;
  }

  main section div.products article:hover .fa-truck {
    transform: rotate(-90deg);
  }

  main.login form button {
    transition: color, background-color 300ms;
  }

  main.login form button:hover {
    background-color: #0022AA;
    color: #ffffff;
  }

  main.register {
    width: 60%
  }

  main.login form {
    width: 60%;
  }

  footer article.foot-article div.foot {
    display: flex;
  }

  body footer article.foot-article div.foot div.foot-div {
    width: 33%;
    margin: 0px;
    padding-bottom:50px;
  }

  body footer span{
    text-align:end;
  }

}





/* REGISTER.HTML */


main.register form.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

main.register form.form input.control-form,
main.register form.form input.user {
  margin: 5px;
  padding: 8px;
  border-radius: 5px;
  border: none;
  outline: none;

}

main.register form.form h4,
main.register form.form h4.user,
main.register form.form label {
  margin: 5px;
  padding: 8px;
}

main.register form.form div {
  padding: 5px;
}

form.form div.button input {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: none;
  background-color: #0044aa;
  color: #ffff;
  width: 40%;
}


/* LOGIN.HTML */
main.login form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

main.login form input {
  margin: 15px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
}

main.login form input.button-login {
  background-color: #0044aa;
  color: #ffff;
}